<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
  <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous"
  >
</head>
<body>
	<div class="container">
		<h1 class="text-center">Our To Do App</h1>
		<form action="/" method="GET">
			<table class="table">
			  <tr>
				<td>
				  <input type="text" name="filter" class="form-control" placeholder="Search..." value="<%= filter ? filter : '' %>">
				</td>
				<td>
				  <button type="submit" class="btn btn-info">Search</button>
				</td>
			  </tr>
			</table>
		  </form>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Task</th>
					<th scope="col">Priority</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<% data.forEach(d => { %>
					<tr>
						<th scope="row"><%= d.ID %></th>
						<td><%= d.Title %></td>
						<td><%= d.Country %></td>
						<td>
							<a href="/edit/<%= d.ID %>" style="color: white">
								<button type="button" class="btn btn-success">
									Edit
								</button>
							 </a>
							 <a href="/delete/<%= d.ID %>" style="color: white" onclick="return confirm('Delete ?')">
								<button type="button" class="btn btn-danger">
									Delete
								</button>
							</a>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
		<a href="/add" class="btn btn-primary">Add</a>
	</div>
</body>
</html>
